*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board{
    margin-top: 10vh;
}

#game-status{
    margin-top: 1rem;
    color:gray;
}

#promotion-menu{
    text-align: center;
    margin-top: 1rem;
    display: none;
}

#promotion-menu h4{
    color:rgb(150, 131, 28);
}

.promotion-button{
    width: 80px;
    height: 80px;
}